/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}

body {
    line-height: 1;
}

ol,
ul {
    list-style: none;
}

blockquote,
q {
    quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: "";
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

* {
    box-sizing: border-box;
}

header {
    height: 685px;
    width: 100%;
}

header .location-image {
    width: 100%;
    height: 100%;
}

section {
    background-color: black;
    color: #fff;
}

section .location-section {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 8%;
    height: 316px;
    padding: 7vh 9vw;
}

.location-over-view {
    color: #fff;
    font-feature-settings:
        "clig" off,
        "liga" off;
    width: 45vw;
    height: auto;
    font-family: Outfit;
    font-size: 22px;
    font-style: normal;
    font-weight: 300;
    line-height: 145.455%;
    margin-bottom: 3%;
}

.address {
    color: #fff;
    font-feature-settings:
        "clig" off,
        "liga" off;
    width: 45vw;
    font-family: Outfit;
    font-size: 22px;
    font-style: normal;
    font-weight: 300;
    line-height: 145.455%;
    margin-bottom: 3%;
}

.location-details {
    display: flex;
    flex-direction: column;
}

.location-details h2 {
    color: #d5966c !important;
    font-feature-settings:
        "clig" off,
        "liga" off;

    font-family: Big Shoulders Display;

    font-style: normal;
    font-weight: 900;
    line-height: 100%;
    text-transform: uppercase;
    margin-bottom: 3%;
}

footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: #d5966c;
    height: 240px;
    color: black;
    gap: 8%;
    padding: 8vw;
}

.tablet-image {
    display: none;
}

h1 {
    font-size: 2.5rem !important;
}

h2 {
    font-size: 2.0rem !important;
}

p {
    font-size: 1.0rem !important;
}

a {
    height: 72px;
    display: flex;
    position: absolute;
    left: 10%;
    text-decoration: none !important;
}

a:hover {
    content: url("./images/location-button-2.jpeg");
    background-color: #d5966c;
    text-decoration: none;
}



@media screen and (max-width: 425px) {
    header {
        height: 550px;
        width: 100%;
    }

    section {
        width: 100%;
        padding: 0% 3%;
    }

    section .location-section {
        display: flex;
        flex-direction: column;
        gap: 4%;
        align-items: flex-start;
        padding: 6% 0%;
    }

    .location-section h1 {
        padding: 0%;
    }

    .location-over-view {
        width: 100%;
        height: auto;

        margin-bottom: 4%;
    }

    .address {
        width: 100%;
        margin-bottom: 4%;
    }

    footer {
        display: flex;
        flex-direction: column;

        padding: 4% 2%;
        color: black;
    }

    .desktop-image {
        display: none;
    }

    .tablet-image {
        font-display: block;
    }
}