/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}

body {
    line-height: 1;
}

ol,
ul {
    list-style: none;
}

blockquote,
q {
    quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: "";
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

* {
    box-sizing: border-box;
}

.header-grid {
    display: grid;
    grid-template-rows: 600px;
    grid-template-columns: 35% 45% 20%;
    position: relative;
}

.header-grid .grid-col-1 {
    grid-column: 1/2;
    grid-row: 1/2;
    background-color: #151515;
}

.header-grid .grid-col-2 {
    grid-column: 2/3;
    grid-row: 1/2;
}

.header-grid .grid-col-3 {
    grid-column: 3/4;
    grid-row: 1/2;
    background-color: #fff;
}

.header-grid h1 {
    color: #fff;
    font-feature-settings:
        "clig" off,
        "liga" off;
    font-family: Big Shoulders Display;
    font-style: normal;
    font-weight: 900;
    line-height: 91.66%;
    text-transform: uppercase;
    mix-blend-mode: difference;
    width: 176px;
    position: absolute;
    top: 19%;
    left: 15%;
    font-size: 5vw;
}

.about-header {
    position: absolute;
    top: 19%;
    font-size: 1.5vw;
    left: 74%;
}

.header-grid p {
    color: #444;
    font-feature-settings:
        "clig" off,
        "liga" off;
    font-family: Outfit;
    font-size: 22px;
    font-style: normal;
    font-weight: 300;
    line-height: 145.455%;
    margin-bottom: 9%;
    width: 22vw;
    font-size: 1.5vw;
}

.header-grid a {
    height: 72px;
    width: 22vw;
    display: flex;
    text-decoration: none !important;
}

.header-grid a:hover {
    content: url("./images/home-button-2.jpeg");
}

.header-grid .grid-col-2 .header-desktop-image {
    width: 100%;
    height: 100%;
}

.header-grid .grid-col-2 .header-tablet-image {
    display: none;
    width: 100%;
    height: 100%;
}

.header-grid .grid-col-2 .header-phone-image {
    display: none;
    width: 100%;
    height: 100%;
}

section {
    margin: 2% auto;
    border-style: none;
    height: 1150px;
    width: 80%;
}

.portrait-container {
    display: flex;
    flex-direction: column;
}

.portrait-container .gallary-1 {
    display: flex;
    width: 100%;
    height: 400px;
    margin-bottom: 2%;
}

.gallary-1 .gallery-experience {
    display: flex;
    width: 40%;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 32px;
}

.gallary-1 .portrait-1 {
    height: 100%;
    width: 60%;
}

.portrait-container .galary-2 {
    display: flex;
    width: 100%;
    height: 720px;
    margin-bottom: 2%;
    gap: 2%;
}

.galary-2 .portrait-2 {
    height: 100%;
    width: 58%;
}

.flex-galary {
    height: 100%;
    width: 40%;
}

.flex-galary .portrait-3 {
    height: 313px;
    width: 100%;
    margin-bottom: 30px;
}

.gallery-experience h2 {
    color: var(--Almost-Black, #151515);
    font-feature-settings:
        "clig" off,
        "liga" off;
    width: 65%;
    font-family: Big Shoulders Display;
    font-size: 2rem;
    font-style: normal;
    font-weight: 900;
    line-height: 100%;
    text-transform: uppercase;
    padding-bottom: 2%;
}

.gallery-experience p {
    color: var(--Dark-Grey, #444);
    font-feature-settings:
        "clig" off,
        "liga" off;
    width: 65%;
    font-family: Outfit;
    font-size: 1rem;
    font-style: normal;
    font-weight: 300;
    line-height: 145.455%;
    padding-bottom: 2%;
}

.galary-2 .inspiration {
    height: 377px;
    width: 100%;
    text-align: center;
    background-color: #151515;
    color: #fff;
    padding: 20%;
}

.galary-image {
    width: 100%;
    height: 100%;
}

.inspiration h2 {
    color: #fff;
    font-feature-settings:
        "clig" off,
        "liga" off;
    padding-bottom: 2%;
    font-family: Big Shoulders Display;
    font-size: 2rem;
    font-style: normal;
    font-weight: 900;
    line-height: 100%;
    text-transform: uppercase;
}

.inspiration p {
    color: var(--White, #fff);
    font-feature-settings:
        "clig" off,
        "liga" off;

    font-family: Outfit;
    font-size: 1rem;
    font-style: normal;
    font-weight: 300;
    line-height: 145.455%;
}

footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: #151515;
    align-items: center;
    height: 240px;
    color: #fff;
    gap: 8%;
    padding: 10%;
}

@media screen and (max-width: 768px) {
    header {
        margin: 0px;
    }

    .header-grid {
        display: grid;
        grid-template-columns: 60% 40%;
        grid-template-rows: 700px;
    }

    .header-grid .grid-col-1 {
        display: none;
    }

    .header-grid .grid-col-2 {
        grid-column: 1/2;
        grid-row: 1/2;
    }

    .grid-col-2 .header-desktop-image {
        display: none;
    }

    .grid-col-2 .header-phone-image {
        display: none;
    }

    .grid-col-2 .header-tablet-image {
        display: block !important;
    }

    .header-grid .grid-col-3 {
        grid-column: 2/3;
        grid-row: 1/2;
        background-color: #ffffff;
    }

    .header-grid h1 {
        grid-column: 2/3;
        grid-row: 1/2;
        color: #151515;
        mix-blend-mode: darken;
        line-height: 92.857%;
        top: 23vh;
        left: -16%;
        width: 282px;
        font-size: 6vw;
    }

    .about-header {
        top: 51vh;
        left: 55%;
    }

    .header-grid p {
        width: 38vw;
        font-size: 2.5vw;
    }

    .header-grid a {
        width: 26vw;
    }
}

@media screen and (max-width: 425px) {
    .header-grid {
        display: grid;
        grid-template-columns: 100%;
        grid-template-rows: 240px 390px;
    }

    .header-grid .grid-col-1 {
        display: none;
    }

    .header-grid .grid-col-2 {
        grid-column: 1/2;
        grid-row: 1/2;
    }

    .grid-col-2 .header-desktop-image {
        display: none;
    }

    .grid-col-2 .header-phone-image {
        display: block !important;
    }

    .grid-col-2 .header-tablet-image {
        display: none;
    }

    .header-grid .grid-col-3 {
        grid-row: 2/3;
        grid-column: 1/2;
        background-color: #ffffff;
    }

    .header-grid h1 {
        grid-row: 2/3;
        grid-column: 1/2;
        color: #151515;
        font-size: 12vw;
        mix-blend-mode: darken;
        top: 6%;
        left: 2%;
        width: 96%;
        right: 2%;
    }

    .header-grid .about-header {
        grid-row: 2/3;
        grid-column: 1/2;
        width: 96%;
        top: 34%;
        left: 2%;
        right: 2%;
    }

    .about-header p {
        font-size: 4.5vw;
        width: 100%;
    }

    .header-grid a {
        width: 100%;
    }

    section {
        margin: 0% 2%;
        border-style: none;
        height: 1600px;
        width: 96%;
    }

    .portrait-container .gallary-1 {
        display: flex;
        flex-direction: column-reverse;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 572px;
        margin-bottom: 2%;
    }

    .gallary-1 .gallery-experience {
        display: flex;
        width: 100%;
        margin: 2% auto;
        height: 248px;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        gap: 32px;
    }

    .gallery-experience h2 {
        width: 100%;
    }

    .gallery-experience p {
        width: 100%;
    }

    .gallary-1 .portrait-1 {
        height: 320px;
        width: 100%;
    }

    .portrait-container .galary-2 {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 1006px;
        margin-bottom: 2%;
        align-items: center;
        gap: 2%;
    }

    .galary-2 .portrait-2 {
        height: 480px;
        width: 100%;
        margin: 2px;
    }

    .flex-galary {
        height: 493px;
        width: 100%;
    }

    .flex-galary .portrait-3 {
        height: 200px;
        width: 100%;
        margin-bottom: 16px;
    }

    .galary-2 .inspiration {
        height: 293px;
        width: 100%;
        text-align: start;
        background-color: #151515;
        color: #fff;
        padding: 9% 5%;
    }

    .inspiration h2 {
        padding-bottom: 2%;
    }

    footer {
        display: flex;
        flex-direction: column;

        align-items: start;
        padding: 6%;
    }
}